<%= form_for(@assessment) do |f| %>
  <% if @assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
      <% @assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :closed %><br>
    <%= f.check_box :closed %>
  </div>
  <div class="field">
    <%= f.label :max_level %><br>
    <%= f.number_field :max_level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
