<%= form_for(@assessment) do |f| %>
  <% if @assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
      <% @assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.hidden_field :user_id,  value: @user.id %>
  <%= f.hidden_field :level_id, value: session[:level_id] %>

  <% Cluster.all.each do |cluster| %>
  <% competencies = Competency.where(position_id: @user.position.id, cluster_id: cluster.id)%>
    <% if competencies.count > 0 %>
      <h2>Блок компетенций: <%= cluster.title %> </h2>
      <% competencies.each do |competency| %>
        <h3>Компетенция: <%= competency.title %></h3>
        <% behaviors = Behavior.where(competency_id: competency.id, level_id: @user.level.id) %>
        <%# behaviors = Behavior.where(competency_id: competency.id).where('level_id IN (?)', session[:levels]) %>
        <% behavior_ids = [] %>
        <% if behaviors.count > 0 %>
          <% behaviors.each do |behavior| %>
            <% behavior_ids << behavior.id %>
          <% end %>
          <table class="ztTable">
            <%= f.fields_for :items do |ff| %>
              <%# behaviors.each do |behavior| %>
                <% @assessment_items.where('behavior_id IN (?)', behavior_ids).each do |item| %>
                  <tr>
                    <td class="descr"><%= ff.label item.behavior.content %></td>
                    <td class="cb"><%= ff.check_box :user_tick, value: item.user_tick %></td>
                    <!--td class="cb"><%#= ff.check_box "final_tick[#{behavior.id}]" %></td-->
                  </tr>
                  <%#= f.hidden_field "final_tick[#{behavior.id}]", value: 0 %>
                <% end %>    <%# assessment_items Loop %>
                <%# end %>   <%# behaviors Loop %>
            <% end %>     <%# fields_for Loop%>
          </table>
        <% end %>         <%# IF behaviors.count END %>
      <% end %>           <%# competencies Loop %>
    <% end %>             <%# IF competencies.count END %>
  <% end %>               <%# Cluster Loop %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>                 <%# Form Loop%>
