<h1>Процесс БОРД: продолжить / редактировать</h1>
<%= render 'chunks/user_data' %>
<%= @assessment.id %>
<%#= form_for @assessment, url: {controller: "assessments", action: "handle_edit"}, html: {id: 'assessment_form'} do |f| %>
<%= form_for @assessment do |f| %>

  <% if @assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
      <% @assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :closed %>
    <%= f.check_box :closed %>
  </div>

  <%= f.fields_for @items do |ff| %>


    <% @assessment_items.each do |item| %>
      <%= item.behavior.content %>
      <strong><%= item.user_tick %></strong>
      <%= ff.check_box item.user_tick %>
      <br>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>                   <%# Form Loop%>
