<h1>Карты развивающих действий</h1>

<%= form_for :values, url: {controller: "actioncards", action: "set_values_for_actioncard"}, html: {id: 'set_value_form'} do |f| %>
  <%= f.label 'Должность: ' %>

  <% if session[:position_id].nil? %>
    <%= f.collection_select :position_id, Position.all, :id, :title, include_blank: false %>
  <% else %>
    <%= f.collection_select :position_id, Position.all, :id, :title, selected: session[:position_id], include_blank: false %>
  <% end %>

  <%= f.label 'Блок компетенций: ' %>

  <% if session[:cluster_id].nil? %>
    <%= f.collection_select :cluster_id, Cluster.all, :id, :title, include_blank: false %>
  <% else %>
    <%= f.collection_select :cluster_id, Cluster.all, :id, :title, selected: session[:cluster_id], include_blank: false %>
  <% end %>

  <%= f.label 'Уровень: ' %>

  <% if session[:level_id].nil? %>
    <%= f.collection_select :level_id, Level.all, :id, :title, include_blank: false %>
  <% else %>
    <%= f.collection_select :level_id, Level.all, :id, :title, selected: session[:level_id], include_blank: false %>
  <% end %>

  <%= f.submit 'Выбрать'%>
<% end %>

<% competencies = Competency.where(position_id: session[:position_id], cluster_id: session[:cluster_id]) %>
<% if competencies.count > 0 %>
  <% competencies.each do |competency| %>
    <h3>Компетенция: <%= competency.title %> </h3>
      <% actioncards = Actioncard.where(competency_id: competency.id, level_id: session[:level_id]) %>
      <table class="ztTable">
        <% actioncards.each do |actioncard| %>
          <tr>
            <td class="descr"><%= actioncard.content%> </td>
            <td class="buttons">
              <%= link_to image_tag('buttons/show.png',   alt: 'show',    title: 'show'),    [:admin, actioncard] %>&nbsp;
              <%= link_to image_tag('buttons/edit.png',   alt: 'edit',    title: 'edit'),    edit_admin_actioncard_path(actioncard) %>&nbsp;
              <%= link_to image_tag('buttons/delete.png', alt: 'destroy', title: 'destroy'), [:admin, actioncard], method: :delete, data: {confirm: 'Вы уверены?'} %>
            </td>
          </tr>
        <% end %>   <%# Actioncard Loop %>
      </table>
  <% end %>         <%# Competency Loop %>
<% end %>           <%# IF competencies.count END %>
<br>

<%= link_to 'Добавить', new_admin_actioncard_path %>
