<h1>Список долджностей</h1>

<table class="ztTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Название</th>
      <th>Действия</th>

    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.name %></td>
        <td><%= position.title %></td>
        <td class="buttons">
          <%= link_to image_tag('buttons/show.png',   alt: 'show',    title: 'show'),    [:admin, position] %>&nbsp;
          <%= link_to image_tag('buttons/edit.png',   alt: 'edit',    title: 'edit'),    edit_admin_position_path(position) %>&nbsp;
          <%= link_to image_tag('buttons/delete.png', alt: 'destroy', title: 'destroy'), [:admin, position], method: :delete, data: {confirm: 'Вы уверены?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить', new_admin_position_path %>
