<%= form_for([:admin, @competency]) do |f| %>
  <% if @competency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competency.errors.count, "error") %> prohibited this competency from being saved:</h2>

      <ul>
      <% @competency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Должность' %><br>
    <%= f.collection_select :position_id, Position.all, :id, :title, selected: session[:position_id], include_blank: false %>
  </div>
  <div class="field">
    <%= f.label 'Блок компетенций' %><br>
    <%= f.collection_select :cluster_id, Cluster.all, :id, :title, selected: session[:cluster_id], include_blank: false %>
  </div>
  <div class="field">
    <%= f.label 'name' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Название' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'Ранг (от 1 до 5)' %><br>
    <%= f.number_field :rank %>
  </div>
  <div class="field">
    <%= f.label 'Описание' %><br>
    <%= f.text_area :description, size: "50x5" %>
  </div>
  <div class="actions">
    <%= f.submit 'Сохранить'%>
  </div>
<% end %>
