<p id="notice"><%= notice %></p>

<h1>Просмотр компетенции</h1>
<p>
  <strong>Должность:</strong>
  <%= @competency.position.title %>
</p>

<p>
  <strong>Кластер:</strong>
  <%= @competency.cluster.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @competency.name %>
</p>

<p>
  <strong>Название:</strong>
  <%= @competency.title %>
</p>

<p>
  <strong>Ранг:</strong>
  <%= @competency.rank %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @competency.description %>
</p>

<%= link_to 'Редактировать', edit_admin_competency_path(@competency) %> |
<%= link_to 'Назад', admin_competencies_path %>
