<h1>Listing departments</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.number %></td>
        <td><%= department.title %></td>
        <td><%= link_to 'Show', [:admin, department] %></td>
        <td><%= link_to 'Edit', edit_admin_department_path(department) %></td>
        <td><%= link_to 'Destroy', [:admin, department], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Department', new_admin_department_path %>
