<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @department.number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @department.title %>
</p>

<%= link_to 'Edit', edit_admin_department_path(@department) %> |
<%= link_to 'Back', admin_departments_path %>
