<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @store.title %>
</p>

<%= link_to 'Edit', edit_admin_store_path(@store) %> |
<%= link_to 'Back', admin_stores_path %>
