<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :assessment_id, value: @assessment.id %>
  <%= f.hidden_field :behavior_id,   value: @item.behavior_id %>

  <table class="ztTable">
    <tr>
      <td class="descr"><%= @item.behavior.content %></td>
      <td class="cb"><%= f.check_box :user_tick %></td>
    </tr>
  </table>
  <br>
  <div class="actions">
    <%= f.submit 'Сохранить изменение'%>
  </div>
<% end %>
