<h1>Список зарегистрированных пользователей</h1>

<table class="ztTable">
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Отдел</th>
      <th>Должность</th>
      <th>Уровень</th>
      <th>Login</th>
      <th>Менеджер</th>
      <th>Активный</th>
      <th>Действия</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.department.title %></td>
        <td><%= user.position.title %></td>
        <td><%= user.level.title %></td>
        <td><%= user.login %></td>
        <td><%= user.manager.nil? ? 'Не определен' : user.manager.full_name %></td>
        <td><%= user.active? ? 'Да' : 'Нет' %></td>
        <td class="buttons">
          <%= link_to image_tag('buttons/show.png',   alt: 'show',    title: 'show'),    [:admin, user] %>&nbsp;
          <%= link_to image_tag('buttons/edit.png',   alt: 'edit',    title: 'edit'),    edit_admin_user_path(user) %>&nbsp;
          <%= link_to image_tag('buttons/delete.png', alt: 'destroy', title: 'destroy'), [:admin, user], method: :delete, data: {confirm: 'Вы уверены?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить пользователя', new_admin_user_path %>
