<h1>Новый пользователь</h1>

<%= form_for([:admin, @user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Фамилия:' %>
    <%= f.text_field :last_name %>

    <%= f.label 'Имя:' %>
    <%= f.text_field :first_name %>

    <%= f.label 'Отчество:' %>
    <%= f.text_field :middle_name %>
  </div>

  <div class="field">
    <%= f.label 'Магазин:' %>
    <%= f.collection_select :store_id, Store.all, :id, :title, include_blank: false %>
  </div>

  <div class="field">
    <%= f.label 'Отдел:' %>
    <%= f.collection_select :department_id, Department.all, :id, :title, include_blank: false %>
  </div>

  <div class="field">
    <%= f.label 'Руководитель:' %>
    <%= f.collection_select :manager_id, User.all.order(:last_name), :id, :last_name, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label 'Должность:' %>
    <%= f.collection_select :position_id, Position.all, :id, :title, include_blank: false %>
  </div>

  <div class="field">
    <%= f.label 'Уровень:' %>
    <%= f.collection_select :level_id, Level.all, :id, :title, include_blank: false %>
  </div>
  <div class="field">
      <%= f.label :login %>
    <%= f.text_field :login %>
  </div>
  <div class="field">
      <%= f.label 'Пароль:' %>
    <%= f.password_field :password %>
    </div>
  <div class="field">
      <%= f.label 'Подтвердить пароль:' %>
    <%= f.password_field :password_confirmation %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', admin_users_path %>
